################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlateDiseasesRecognitionModel/models/AlexNetModel.hdf5
/PlateDiseasesRecognitionModel/models/ResNet_plant 97.h5
